# Environment Secrets
.env
backend/.env
backend/app/.env

# Python Virtual Environments & Cache
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# OS/System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
